@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color:#E20613;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: cairo;
    direction: rtl;
    /* height: 4500px; */
}

ul{
    list-style: none;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container{
        width: 100%;
    }
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (min-width: 992px) {  
    .container{
        width: 750px;
    }  

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (min-width: 1200px) { 
      .container{
        width: 970px;
    }  
    

 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
       .container{
        width: 1170px;
    } 

 }

 /* Start header style */
 header {
    background-color: white;
    height: 60px;
    border-bottom: 1px solid rgb(255, 223, 223);
    position: sticky;
    top:0;
    z-index: 11000;

 }
 header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
 }

 header .container img{
    width: 50px;
 }
 header .container nav{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 @media(max-width: 768px){
    header .container nav{
         justify-content: end;
    }

 }
 header .container nav ul{
    display: flex;
 }
 @media (max-width: 768px){
    header .container nav ul{
        display:none;
    }

 }
 .nav-tag:hover {
  color: var(--main-color);
 }
 .mobile-nav1{
  display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left:0;
    background-color: #eee;
    width: 100%;
    transition: 0.3s;
 }
 @media (min-width: 768px){
    .nav-tag{
        display: none;
    }
 }
 header .container nav ul li a{
   display: block;
   text-decoration: none;
   padding: 20px 10px;
   font-size: 16px;
   font-weight: 700;
   color:black;
   transition:0.3s;
   
 }
 @media(max-width: 768px){
    header .container nav ul li a{
        border-bottom: 1px solid #ccc;
    }
 }
 header .container nav ul li a.active,
 header .container nav ul li a:hover{
    color:white;
    background-color:var(--main-color);
 }
  header .container .social{
    display: flex;
    justify-content: space-between;
 }
  @media(max-width: 768px){
   header .container .social{
        display: none;
    }
 }
 
header .container .social i{
    margin: 5px;
    font-size: 17px;
    display: flex;
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
 }

 .container .social i:hover{
    background-color: black;
    scale: 1.1;
 }
 /* End header style */


 /* start hero style */
.hero {
    background-image: url(../images/background.webp);
    /* height: calc(70vh - 60px); */
 }
   @media(max-width: 768px){
      /* .hero {
         height: calc(100vh - 60px);
      } */
   }
 .hero .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 @media(max-width: 768px){
   .hero .container{
      flex-direction: column-reverse;
   }
 }
 .hero .container .hero-img img{
   width: 500px;
 }
 @media(max-width: 768px){
   .hero .container .hero-img img{
      width: 300px;
   }
 }
 .hero .container .hero-title{
  font-size: 40px;
  font-family: almarai;
  font-weight: 800;
  color: var(--main-color);
 }

 .hero .container .hero-info h2{
  font-size: 25px;
  margin-bottom: 10px;
  color: black;
 }

 .hero .container .hero-info p{
   width: 86%;
   font-size: 18px;
   line-height: 1.8;
   margin-bottom: 20px;
 }
  @media(max-width: 768px){
   .hero .container .hero-title{
      font-size: 30px;
      text-align: center;
   }
   .hero .container .hero-info h2{
      font-size: 20px;
      text-align: center;
   }
   .hero .container .hero-info p{
      width: 100%;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
   }
 }

 .hero .container .social{
   display: flex;
 }
 .hero .container .social i{
     margin: 5px;
    font-size: 17px;
    display: flex;
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
 }
 .container .social i:hover{
    background-color: black;
    scale: 1.1;
 }
  @media(max-width: 768px){
   .hero .container  .social{
      justify-content: center;
   }
  }
  .hero .container .hero-info .call{
   display: flex;
   justify-content: start;
   margin-top: 15px;
  }
   @media(max-width: 768px){
      .hero .container .hero-info .call{
          justify-content: center;
      }
   }
  .hero .container .hero-info .call button{
   background-color: var(--main-color);
   color: white;
   padding: 10px 20px;
   margin: 5px;
   border-radius: 20px;
   transition: 0.3s;
   border: none;
   margin-bottom: 20px;
  }
  .hero .container .hero-info .call button:hover{
   scale:1.1;
   background-color: black;
   cursor: pointer;
  }
 /* end hero style */


 /* Start services style */
 .services{
   background-color: #eee;
   padding: 70px 0;
 }
 .section-title{
   color: var(--main-color);
   text-align: center;
   font-size: 35px;
   margin-bottom: 20px;
 }
 .section-desc{
   text-align: center;
   font-size: 20px;
   color: black;
   margin-bottom: 30px;
 }
 .all-service{
   display: grid;
   grid-template-columns: repeat(auto-fill ,minmax(250px ,1fr));
   gap: 15px;
 }
 .all-service .service{
   background-color: white;
   padding: 20px;
   text-align: center;
   box-shadow: 0 0 10px #ccc;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   position: relative;
   overflow: hidden;
 }
 .all-service .service::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 2px;
   height: 0;
   background-color: var(--main-color);
   transition: 0.3s;
   
 }
 .all-service .service:hover::before{
   height: 100%;
 }
 .all-service .service::after{
   content: "";
   position: absolute;
   bottom: 0;
   right: 0;
   width: 2px;
   height: 0;
   background-color: var(--main-color);
   transition: 0.5s;
   
 }
 
 .all-service .service:hover::after{
   height: 100%;
 }


 .all-service .service:hover{
  transform: translateY(-10px);
 }
 .all-service .service img{
   width: 80px;
   margin-bottom: 15px;
   height: 80px;
 }
 .all-service .service h3{
   color: var(--main-color);
    margin-bottom: 15px;
 }
 .all-service .service p{
   line-height: 1.5;
 }
 /* End services style */

 /* Start About-us style */
.about-us{
   padding: 50px 0;
}

.about-us .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.about-info ,
.about-img{
   width: 50%;
}
.about-us h2{
   color: var(--main-color);
   font-size: 30px;
   margin-bottom: 20px;
}
.about-us p{
   font-size: 17px;
   width: 90%;
   line-height: 1.7;
   margin-bottom: 20px;
}

.about-us .about-call{
   background-color: var(--main-color);
   color: white;
   border: none;
   padding: 10px 30px;
   border-radius: 5px;
   position: relative;
   z-index: 1;
   overflow: hidden;
   cursor: pointer;
}
@media(max-width: 768px){
   .about-us .container{
      flex-direction: column;
      text-align: center;
   }
   .about-info ,
.about-img{
   width: 100%;
}
.about-us p{
    width: 100%;
}
.about-us .about-call{
   margin-bottom: 20px;
}
  
}
.about-us .about-call::after{
   position: absolute;
   content: "";
   width: 0;
   right: 0;
   top: 0;
   height: 100%;
   background-color: black;
   z-index: -1;
   transition: 0.5s;

}

.about-us .about-call::before{
   position: absolute;
   content: "";
   width: 0;
   left: 0;
   top: 0;
   height: 100%;
   background-color: black;
   z-index: -1;
   transition: 0.5s;

}
.about-us .about-call:hover::after{
   width: 50%;
}
.about-us .about-call:hover::before{
   width: 50%;
}
.about-us .about-img{
   background-color: var(--main-color);
  
}
.about-us .about-img img{
    transform: translate(-8px , -8px);
    width: 100%;
}
@media(max-width:768px){
 .about-us .about-img img{
    transform: translate(0 , 0);
   }
}
 /* End About-us style */

 /* Start statistcs style */
 .statistcs {
   padding: 70px 0;
   background-color: green;
   background-image: url(../images/st-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   
 }
 .statistcs .overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.575);
 }
 .statistcs .container{
   display: grid;
   grid-template-columns: repeat(auto-fill ,minmax(250px ,1fr));
   gap: 20px;
 }
 .statistcs .container .stat{
   background-color: rgba(255, 255, 255, 0.678);
   height: 200px;
   text-align: center;
   padding: 20px 0;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   z-index: 1;
 }
 .statistcs .container .stat:hover{
   scale: 1.05;
    background-color:white
 }
 .statistcs .container .stat h3{
   font-size: 35px;
   margin-bottom: 15px;
 }
 .statistcs .container .stat p{
   font-size: 20px;
   font-weight: 800;
   /* color: var(--main-color); */
   color:purple;
 }
 /* End statistcs style */

  /* Start courses style  */
  .courses{
   padding: 70px 0;
   background-color: #eee;
  }
   .courses .all-courses{
      display: grid;
      grid-template-columns: repeat(auto-fill , minmax(250px ,1fr));
      gap: 15px;
      
   }
    
   .courses .all-courses .course{
   text-align: center;
   background-color: white;
   padding-bottom: 20px;
   cursor: pointer;
   border-radius: 5px;
   transition: 0.3s;
   position: relative;
   box-shadow: 0 0 10px #ccc;
   overflow: hidden;

   }
   .courses .all-courses .course:hover{
     transform: scale(1.03);
   }
  .courses .all-courses .course img{
      width: 100%;
      margin-bottom: 10px;
   }
   .courses .all-courses .course .course-title{
      margin-bottom: 10px;
      color: var(--main-color);
      font-size: 22px;
   }
   .courses .all-courses .course p{
   color: rgb(88, 86, 86);
   margin-bottom: 10px;
    line-height: 1.7;
     padding-left: 15px;
      padding-right: 15px;
      height: 80px;
   }
   .course-price{
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
   }
   .course-price div :last-child{
      color: var(--main-color);
      font-weight: 700;
      text-decoration: line-through;
   }
   .course-price :last-child{
      font-size: 21px;
      font-weight: 700;
   }
   hr{
      width: 80%;
      transform: translateX(-10%);
      margin-bottom: 15px;
      border:none;
      height: 1px;
      background-color: #eee;
   }
   .course-details{
   background-color: var(--main-color);
   border: none;
   color: white;
   border-radius: 5px;
   margin-top: 10px;
   padding: 10px 20px;
   width: 80%;
   cursor: pointer;
   }
   .course-details:hover{
      background-color: rgb(235, 85, 85);
   }
   .category{
      position: absolute;
      left: 5px;
      top: 7px;
      background-color: var(--main-color);
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
   }
   /* .course-info{
      display: flex;
      justify-content: space-between;
      padding-right: 15px;
      align-items: center;

   }
   .course-info i{
      margin-left: 10px;
   }
   .reviews i{
      color: rgb(212, 212, 64);
   } */

  /* End courses style  */



  /* Start portfolio style */
  .portfolio{
   padding: 70px 0;
  }
  .portfolio .portfolio-container{
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(250px ,1fr));
   gap: 15px;
  }
  .portfolio .portfolio-container .box{
   text-align: center;
   border: 1px solid #ccc;
   position: relative;
   overflow: hidden;
  
  
  }
  .portfolio .portfolio-container .box img{
   width: 100%;
   height: 100%;
  }
  .portfolio .portfolio-container .box .info{
   background-color: rgba(19, 3, 3, 0.493);
   padding: 15px 0;
   position: absolute;
   width: 100%;
   top: 0;
   left: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
    transition: 0.5s;
    cursor: pointer;
  }
  .portfolio .portfolio-container .box:hover .info{
   left: 0;
  }
  .portfolio .portfolio-container .box .info h3  {
   color: white;
   margin-bottom: 10px;
   font-size: 20px;
   
  }
  .portfolio .portfolio-container .box .info p {
   color: white;
   
  }
  .portfolio .portfolio-container .box .info .project-link{
   background-color: var(--main-color);
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   width: 70%;
   margin:auto;
   text-decoration: none;
  }
  /* End portfolio style */


  /* Start team style */
  .our-team{
   background-color: #eee;
   padding: 70px 0;
  }
  .our-team .team-container{
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(250px ,1fr));
   gap: 15px;
  }
  .our-team .team-container .team-box{
   background-color: white;
   border-radius: 10px;
   overflow: hidden;
   transition: 0.3s;
   box-shadow: 0 0 10px #8b8b8b;
  }
  .our-team .team-container .team-box:hover{
   transform: translateY(-10px);
  }

  .our-team .team-container .team-box .img-social{
   display: flex;
   justify-content: space-between;
  }
  .our-team .team-container .team-box .img-social .social{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-right: 5px;
   padding-top: 10px;
  
  }
  .img-social .social i{
   margin:4px;
   font-size: 18px;
   background-color: var(--main-color);
   width: 30px;
   height: 30px;
   color: white;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: 0.4s;

  }


  .our-team .team-container .team-box .img-social img{
   width: 80%;
   border-radius: 0 0 15px;
  }
.team-box:hover img{
   filter: grayscale(100%);
}

  .team-box .team-info{
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 15px;
  }
  .team-box .team-info h3{
   color: var(--main-color);
   font-weight: 700;
  }
  /* End team style */

  /* Start skills style */
  .our-skills {
   padding: 70px 0;
   background-image: url(../images/background.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }
  .our-skills .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
 
  .skills-info,
  .skills-img {
   width: 45%;
  }
  @media (max-width: 768px){
   .our-skills .container{
      flex-direction: column;
   }
   .skills-info,
  .skills-img {
   width: 100%;
  }
  }
  .our-skills .container .skills-img img{
   width: 100%;
   border-radius: 10px;
   box-shadow: 0 0 10px #02e494;
  }
  .our-skills .container .skills-info .cont{
   display: flex;
   justify-content: space-between;
   margin-bottom: 5px;
   
  }
  .our-skills .container .skills-info .cont :last-child{
  border: 1px solid #eee;
  padding: 2px 3px;
  border-radius: 4px;
  }
  .our-skills .container .skills-info .skill .progress .prog{
   width: 100%;
   height: 30px;
   background-color: #dddbdb;
   border-radius: 5px;
   overflow: hidden;
   position: relative;
   margin-bottom: 30px;

  }
   .our-skills .container .skills-info .skill .progress .prog .ht{
      position: absolute;
      width: 70%;
      height: 30px;
      background-color: var(--main-color);
      cursor: pointer;
      transition: 0.5s;
   }
   .our-skills .container .skills-info .skill .progress .prog .ht:hover{
    width: 100%;
   }
   .our-skills .container .skills-info .skill .progress .prog .cs{
      position: absolute;
      width: 70%;
      height: 30px;
      background-color: var(--main-color);
      cursor: pointer;
      transition: 0.5s;
   }
   .our-skills .container .skills-info .skill .progress .prog .cs:hover{
    width: 95%;
   }
   .our-skills .container .skills-info .skill .progress .prog .js{
      position: absolute;
      width: 70%;
      height: 30px;
      background-color: var(--main-color);
      cursor: pointer;
      transition: 0.5s;
   }
   .our-skills .container .skills-info .skill .progress .prog .js:hover{
    width: 95%;
   }

  /* End skills style */




  /* Start Pricing style */
 .pricing-section{
   padding: 70px 0;
   background-color: #eee;
 }
 .pricing-section .container{
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(250px ,1fr));
   gap: 20px;
 }
 .container .plan{
   background-color: white;
   text-align: center;
   padding-top: 25px;
   padding-bottom: 25px;
   position: relative;
   z-index: 1;
   overflow: hidden;
   transition: 0.3s;
 }
 .container .plan:hover{
   scale: 1.05;
 }
 .container .plan:nth-child(2):before ,
 .container .plan:nth-child(4):before{
   position: absolute;
   content: "عرض خاص";
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 500;
   width: 200px;
   height: 40px;
   background-color: rgb(51, 227, 51);
   top: 15px;
   left: -70px;
   transform: rotate(-45deg);
   z-index: -1;

 }
 .container .plan .plan-title{
   color: var(--main-color);
   font-size: 23px;
   margin-top: 25px;
 }
 .container .plan .price p:first-child{
   color: var(--main-color);
   font-size: 35px ;
   font-weight: bold;
 }
 .container .plan .price p:last-child{
   color: black;
   font-size: 18px ;
   font-weight: bold;
   margin-bottom: 20px;
 }
  .container .plan  ul{
   text-align: right;
   padding: 15px;

  }
  .container .plan  ul li{
   padding: 15px;
   padding-right: 20px;
   border-top:1px solid #eee ;
   transition: 0.3s;
   cursor: pointer;
   position: relative;
  }
  .container .plan  ul li:hover::before{
   content: "\f0d9";
   font-family: "font awesome 5 free";
   font-weight: 900;
   color: var(--main-color);
   position: absolute;
   right: 0;
   top:50%;
   transform: translateY(-50%);

  }
   .container .plan  ul li:hover{
      background-color: #eee;
   }
   .container .plan .plan-btn{
      background-color: var(--main-color);
      border: none;
      color: white;
      width: 90%;
      padding: 10px 5px;
      margin-top: 15px;
      border-radius: 5px;
      transition: 0.3s;
   }
   .container .plan .plan-btn:hover{
      scale: 1.05;
   }

  /* End Pricing style */



  /* Start testimonials style */
  .testimonials{
   padding: 70px 0;
  }
  .testimonials .container{
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
   gap: 20px;
  }
  .testimonials .container .testimonial{
   background-color: #eee;
   position: relative;
   padding: 20px;
   border-radius: 5px;
   transition: 0.3s;
   cursor: pointer;

  }

  .testimonials .container .testimonial:hover{
   transform: translateY(-5px);
  }
   .testimonials .container .testimonial::before{
      position: absolute;
      content: "";
      height:0;
      width: 3px;
      bottom: 0;
      left:0;
      background-color: var(--main-color);
      transition: 0.3s;
   }
   .testimonials .container .testimonial:hover::before{
      height:50%;

   }
   .testimonials .container .testimonial::after{
      position: absolute;
      content: "";
      height:3px;
      width: 0;
      bottom: 0;
      left:0;
      background-color: var(--main-color);
      transition: 0.3s;
   }
   .testimonials .container .testimonial:hover::after{
      width:40%;

   }

  .testimonials .container .testimonial img{
   width: 100px;
   height: 100px;
   position: absolute;
   border-radius: 50%;
   left:3px;
   top:-15px;
   border:5px solid white;
  }
  
   .testimonials .container .testimonial h3{
      color: var(--main-color);
      font-size: 23px;
      margin-bottom: 12px;
   }
   .testimonials .container .testimonial .title-testimonial{
      color: black;
      margin-bottom: 12px;
   }
   .testimonials .container .testimonial .start{
      margin-bottom: 12px;
   }
   .testimonials .container .testimonial .start .fa-solid{
      color: rgb(199, 212, 12);
   }
    .testimonial .review{
      font-size: 16px;
      line-height: 1.5;
   }

  /* End testimonials style */


   /* Start Footer style */
   footer{
      padding-top: 70px ;
      padding-bottom: 40px;
       background-color: rgb(32, 32, 32);
       background-image: url(../images/footerbg.png);
       border-top: 5px solid var(--main-color);
      
   }
    footer .container{
      display: grid;
        grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
        gap: 15px;
       
    }
    
    footer .container .section h2{
      color: white;
      margin-bottom: 20px;
    }
    @media(max-width: 768px){
      footer .container .section{
         padding-right: 20px;
         margin-bottom: 20px;
      }
    }
    footer .container .section p{
      color: white;
      margin-bottom: 20px;
      writing-mode: 90%;
      line-height: 1.8;
    }

    footer .container .section a{
      color: white;
      display: block;
      text-decoration: none;
      margin-top: 15px;
      transition: 0.3s;
      position: relative;
    }
    footer .container .section a::before{
       content: "\f0d9";
      font-family: "font awesome 5 free";
      font-weight: 900;
      color: var(--main-color);
      position: absolute;
      right: -15px;
      top:50%;
      transform: translateY(-50%);
      transition: 0.3s;
    }
    footer .container .section a:hover::before{
      padding-right: 5px;
    }
    footer .container .section a:hover{
      padding-right: 5px;
      color: var(--main-color);
      font-weight: bold;
    }
    footer .container .section .letter form{
      display: flex;
      flex-direction: column;
      margin: 15px;
    }
    .letter form input[type="text"],
    .letter form input[type="email"]{
      height: 40px;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 5px;
      caret-color: var(--main-color);
    }
    .letter form input[type="text"]:focus,
    .letter form input[type="email"]:focus{
      outline: none;
    }
     .letter form input[type="submit"]{
      background-color: var(--main-color);
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      transition:0.3s
     }
     .letter form input[type="submit"]:hover{
      background-color:black
     }
     .hr-footer{
      width: 80%;
      margin-top: 35px;
      transform: translateX(-10%);
     }
     .copyright{
      text-align: center;
      color: white;
     }
   /* End Footer style */

   .btn-whatsapp{
      position: fixed;
      bottom: 30px;
      left:30px;
      background-color: #25d366;
      color: white;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      box-shadow: 0 0 3px #eee;
      text-decoration: none;
   }
   .btn-whatsapp:hover{
      scale: 1.1;
   }
   .btn-whatsapp i{
      font-size: 35px;
   }


